.dark {
  background: hsl(207, 26%, 17%);

  p,
  span,
  h1,
  h2,
  h3,
  button {
    color: hsl(0, 0%, 100%);
  }

  header {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);

    h1 {
      color: hsl(0, 0%, 100%);
    }
  }

  .searchField {
    background: hsl(209, 23%, 22%) !important;
    color: hsl(0, 0%, 100%) !important;

    input {
      background: hsl(209, 23%, 22%) !important;
      color: hsl(0, 0%, 100%) !important;

      &::placeholder {
        color: hsl(0, 0%, 100%) !important;
      }
    }
  }

  #regionField {
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    border: hsl(209, 23%, 22%);
  }

  li {
    color: hsl(0, 0%, 100%);
    background: hsl(209, 23%, 22%);
  }
}
