.countriesContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;


  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;

    li {
      cursor: pointer;
      border-radius: 5px;
      height: 300px;
      box-shadow: 0 0.0625rem 1.25rem rgba(0, 0, 0, 0.08), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.08);
      transition: transform 0.7s;

      &:hover {
        transform: scale(1.08);
      }

      a {
        color: hsl(200, 15%, 8%);
        box-shadow: 0 0.0625rem 1.25rem rgba(0, 0, 0, 0.1), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.08);
      }
      
      .flag {
        border-radius: 5px 5px 0 0;
      }

      .countryInfo {
        padding: 20px;
        font-size: 14px;
      }

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      p {
        font-weight: 600;
  
        span {
          font-weight: 300;
        }
      }

    }
  }
}